<mdc-card class="demo-card" outlined>
  <h1 class="demo-card_heading">Login</h1>
  <mdc-list-divider></mdc-list-divider>
  <form
    #loginForm="ngForm"
    action=""
    (ngSubmit) = "login()">
      <input 
        class="demo-card_input" 
        name="email" 
        label="Email" 
        type='email' 
        placeholder="email"
        outlined 
        required 
        [(ngModel)]="model.email"
        #username="ngModel">
    
      <input 
        class="demo-card_input"
        name="password"
        label="Password"
        type='password'
        placeholder="senha"
        outlined
        required
        [(ngModel)]="model.password"
        #password="ngModel">
    <div class="demo-card__buttons">
      <button class="demo-card_button">Login</button>
      <button class="demo-card_button" [routerLink]="['/signup']">Sign Up</button>
    </div>
    
  </form>
</mdc-card>