<div class="navbar">
  
  <h1 class="navbar_logo">
    <a routerLink="/">LP4EL</a>
  </h1>

  <ul class="navbar_nav">
    <div *ngIf="loggedIn()" class="not_logged">
      <li><a routerLink="/loja">Loja</a></li>
      <li><a routerLink="/pontos">Minha Conta</a></li>
      <li><a (click)="logout()">Sair</a></li>
    </div>
    <div *ngIf="!loggedIn()" class="not_logged">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/signup">Cadastre-se</a></li>
    </div>
  </ul>
</div>