<div class="homepage">
    <div class="homepage__content">
        <h1>Troque sangue por pontos, e pontos por vantagens</h1>
        <img src="../../assets/vampire-svgrepo-com.svg"/>
    </div>


    <!-- <div class="homepage_content">
        <div class="homepage_content_heading">
            <div class="textosvg">
                <h1>Troque sangue por pontos, e pontos por vantagens</h1>
                <img src="../../assets/vampire-svgrepo-com.svg"/>
            </div>
            
            <div class="homepage_content_heading_btns">
                <button mdc-button unelevated>Login</button>

                <button mdc-button unelevated>Sign Up</button>
            </div>
            
    </div> -->
</div>
