.lista-doacoes {
    @include center(true, true);
    display: block;
    background-color: $primary-color;
    padding: 1rem;
    
    & h3 {
        color: #fff;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}

table {
    width: 100%;
    font-size: 1.2rem;
}

table, th, td {
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}


@media screen and (max-width: 748px) {
    .homepage__content {
        flex-direction: column;

        & img {
            display: none;
        }

        & h1 {
            max-width: 80%;
        }
    }

}

@media screen and (min-width: 748px) {
    .lista-doacoes{width: 60rem;}

}

span {
    display: inline-block;
    cursor: pointer;
}