.homepage {
    // shape
    height: 100vh;
    width: 100%;

    // colour
    background-color: $primary-color;
    clip-path: ellipse(100% 61% at 50% 23%);

    // position
    position: absolute;
    top: 0;
    z-index: -1;

    
    &__content {
        @include center(true, true);
        display: flex; 
        align-items: center; 
        gap: 2rem;

        width: 80%;

        color: #fff;
        & h1 {
            font-size: 4rem;
        }
        & img {
            width: 50%;
        }

    }
     
}

@media screen and (max-width: 748px) {
    .homepage__content {
        flex-direction: column;

        & img {
            display: none;
        }
    }

}