.homepage {
    // shape
    height: 100vh;
    width: 100%;

    // colour
    background-color: $primary-color;
    clip-path: ellipse(100% 61% at 50% 23%);

    // position
    position: absolute;
    top: 0;
    z-index: -1;

    
    &__content {
        @include center(true, true);
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        gap: 2rem;

        width: 80%;

        color: #fff;
        & h1 {
            font-size: 4rem;
            max-width: 50%;
        }

        & h5 {
            background-color: #fff;
            color: $primary-color;
            display: inline-block;
            font-size: 1rem;
            margin-top: 1rem;
            padding: 1rem;
            border-radius: 10px;
            cursor: pointer;
        }

        & img {
            width: 50%;
            max-width: 30rem;
        }

    }
     
}


@media screen and (max-width: 748px) {
    .homepage__content {
        flex-direction: column;

        & img {
            display: none;
        }

        & h1 {
            max-width: 80%;
        }
    }

}