.demo-card {
  width: 35rem;
  height: 25rem;
  @include center(true, true);
  padding: 3rem 2rem;
  background-color: $primary-color;
  border-radius: 10px;

  &_input {
    margin: 1rem;
    width: 50%;
    height: 2rem;
  }

  &_button {
      margin: 2rem 2rem 0 0;
      width: 3rem;
      height: 4rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    @include center(true, false);
    width: 100%;
    align-items: center;
  }
}

form {
  @include center(true, false);
}