<div class="custom-card" outlined>
  <h1 class="custom-card_heading">Cadastro</h1>

  <form
    #loginForm="ngForm"
    action=""
    (ngSubmit) = "register()">

      <input 
      class="custom-card_input"
      placeholder="nome" 
      name="name" 
      label="Name" 
      type='text' 
      outlined 
      required 
      [(ngModel)]="model.name"
      #username="ngModel">

      <input 
        class="custom-card_input" 
        placeholder="email"
        name="email" 
        label="Email" 
        type='email' 
        outlined 
        required 
        [(ngModel)]="model.email"
        #username="ngModel">

      <input 
        class="custom-card_input"
        placeholder="senha"
        name="password"
        label="Password"
        type='password'
        outlined
        required
        [(ngModel)]="model.password"
        #password="ngModel">

        <input 
        class="custom-card_input"
        placeholder="CPF/CNPJ (só números)"
        name="documento"
        label="documento"
        type='documento'
        outlined
        required
        [(ngModel)]="model.documento"
        #password="ngModel">

      <div class="radio">
        <input 
          type="radio"
          id="male"
          name="tipo"
          value="H"
          [(ngModel)]="model.tipo"
          >
        <label for="male">Hemocentro</label>
        <input
          type="radio"
          id="female"
          name="tipo"
          value="U"
          [(ngModel)]="model.tipo"
          >
        <label for="male">Doador</label>
      </div>
    <div class="custom-card__buttons">
      <button mdc-button class="custom-card_button mdc-button mdc-button--unelevated">Cadastrar</button>
      <button mdc-button="" class="custom-card_button mdc-button mdc-ripple-upgraded" tabindex="0"><div class="mdc-button__ripple" [routerLink]="['/']"></div>Cancelar</button>
    </div>
  </form>
</div>